%h1.xs-text-center.xs-p3 'Welcome!'
.clearfix
  .col.xs-col-10.xs-offset-1.xs-p2
    %h4.xs-text-center
      Tests:
    .col.xs-col-10.xs-offset-1.xs-p2.xs-text-center
      = link_to "Home", root_path, class:'button xs-m2 button--tumblr '
      = link_to "Stats", admin_stats_path, class:'button xs-m2 button--tumblr '
      = link_to "Games", admin_games_path, class:'button xs-m2 button--tumblr '
      = link_to "Full", admin_full_path, class:'button xs-m2 button--tumblr '
      = link_to "Table", admin_table_path, class:'button xs-m2 button--tumblr '

      