.clearfix
  .col.xs-col-10.xs-p2.xs-border-bottom.xs-fixed.xs-z1{style:'height:70px;background: rgba(0, 0, 0, 0.4);min-width:750px;'}
    .col.xs-col-4
      = link_to root_path do
        = content_tag :span, "", class: 'link-white bold caps' do
          %p{class: 'xs-text-1 xs-inline-block', style:'letter-spacing: -3px;'}= 'M' 
          %p{class: 'xs-text-2 xs-inline-block'}= 'atch'
          %p{class: 'xs-text-1 xs-inline-block', style:'letter-spacing: -3px'}= 'R'
          %p{class: 'xs-text-2 xs-inline-block'}= 'ating'
    .col.xs-col-4
      / = session.to_hash
      / = link_to 'RESET', public_reset_session_path, method: :post
    - if params[:action] == 'show'
      .col.xs-col-5.xs-float-right.caps.xs-text-6{style:'min-width:400px;'}
        .xs-mr3.xs-inline-block.xs-float-right
          - if session[:value] != 'Hide'
            = form_for :save_session, url: public_show_stats_path, method: :post do |f|
              = f.hidden_field :choice, value: 'Hide'
              %button{type:"submit", class:'button xs-float-right button--white button--small btn-record xs-mt05'} 
                = content_tag :span, "", class: "img-eye eye-closed logo-small"
                %h3.xs-inline-block.xs-ml05{style:'vertical-align: -2px;'}= '(3-1)'
          - else
            = form_for :save_session, url: public_show_stats_path, method: :post do |f|
              = f.hidden_field :choice, value: 'Show'
              %button{type:"submit", class:'button xs-float-right button--white button--small btn-record xs-mt05'} 
                = content_tag :span, "", class: "img-eye eye-open logo-small"
                %h3.xs-inline-block.xs-ml05{style:'vertical-align: -2px;'}= '(3-1)'
    - else
      .col.xs-col-5.xs-float-right.caps.xs-text-6{style:'min-width:400px;'}
        .xs-mr3.xs-inline-block.xs-float-right.xs-mt05
          = link_to 'Back', session[:my_previous_url], class:'button xs-float-right button--white button--small xs-p1'
  .col.xs-col-2.xs-border-bottom.xs-border-left.xs-float-right.xs-fixed.xs-z1.xs-r0{style:'height:70px;background: rgba(0, 0, 0, 0.7);min-width:150px;'}
    .col.xs-col-6.xs-mt2.xs-text-center
      = link_to 'FAQ', public_faq_path, class: 'button button--white button--secondary'
    .col.xs-col-6.xs-mt2.xs-text-center
      = link_to 'Settings', public_settings_path, class: 'button button--white button--secondary'
    
        
      