%h1.xs-text-center.xs-p3.bold= 'FAQ'
.clearfix
  .col.xs-col-8.xs-offset-1.xs-p2    
    #faq-why.xs-pb3
      %h3.xs-pb1.bold= 'Why?'
      %p.xs-pt05= 'This is an app for those that love football but hate spoilers. It helps you know how a game was, but without knowing who won or the score.'
      %p.xs-pt05= 'As the world becomes more used to watching Netflix and other TV/movie streaming services, it has also become more common for people to watch sports in an "on demand" mode. Nowadays more people watch sports events after they happen through stream services (such as iTunes/nflpass.com) or other ways.'
      %p.xs-pt05= 'As movies and TV shows have ratings, sports events should have them too!'
    #faq-how.xs-pb3
      %h3.xs-pb1.bold= 'How?'
      %p
        = 'The app can create two types of ratings based on different algorithms. You can select which one you want in the ' 
        = link_to 'settings page', public_settings_path
        = '. The first type takes into consideration only the match stats, such as the final score, the amount of points, the number of turnovers (fumbles and interceptions), the difference between the number of first downs each team has, how many times the lead has changed and other game-related factors. The second type of algorithm has all the match stats and also adds championship and team factors, such as rivalries and league standings.'
    #faq-algorithm.xs-pb3
      %h3.xs-pb1.bold= 'I don\'t agree with one of the ratings, what shoud I do?'
      %p.xs-pt05
        = 'Of curse our ratings are not 100% accurate. They take into consideration several factors, but can\'t really reflect every game. If you think one game should be rated better or worse, tell us through the '
        = link_to 'contact page', public_contact_path
        = ' and we will take a look and maybe update the algorithms.'
    #faq-where.xs-pb3
      %h3.xs-pb1.bold= 'Where do the statistics come from?'
      %p
        = 'The stats from every game comes from our friends at '
        = link_to 'mysportsfeeds.com', 'https://www.mysportsfeeds.com'
        = '. We thank them for their service!'
    #faq-when.xs-pb3
      %h3.xs-pb1.bold= 'When do you update the ratings?'
      %p.xs-pt05= 'We update our database once a day, in the middle of the night, after all the games of the day are over. If you visit the app during the morning all the matches from the previous day will show updated ratings.'
    #faq-hide.xs-pb3
      %h3.xs-pb1.bold= 'Why do you hide certain information?'
      %p.xs-pt05= 'This app was created for two main reasons: help you decide which games you should watch and avoid spoilers.'
      %p.xs-pt05= 'To help you in these two aspects we decided to hide some information from the main games page.'
      %p.xs-pt05= 'We hide some of the results because they are the "exclusive" games of the week - there aren\'t any other matches happening at the same time. Therefore, sometimes you might not want to know the rating of the match because you don\'t really need to choose between watching one game or another. The rating would be, in this context, a spoiler. So you can hide it.'
      %p.xs-pt05= 'The other piece of information you can hide is the team stats (the win-lose statistic). We set it up like this because, when looking at games in most up-to-date weeks, this information can tell you which teams won in previous weeks, possibly spoiling a match you did not want to know the result of. So you can hide it.'
    #faq-othersports.xs-pb3
      %h3.xs-pb1.bold= 'What about other sports?'
      %p.xs-pt05= 'This kind of system could be used in other sports such as e-sports and NHL, MLB, NBA, etc. It all depends on the interest people might have in watching a game after it is over. '
      %p.xs-pt05= 'Football games are just better because they are longer, with too many commercial breaks (making watching them after they are over even more enjoyable).'
      %p.xs-pt05
        = 'Let us know through our '
        = link_to 'contact page', public_contact_path
        = ' which sport we shoul create this system for!'

