%h1.xs-text-center.xs-p3.caps= 'App options'
.clearfix
  .col.xs-col-4.xs-p3.xs-border-right.set-height
    .col.xs-col-12.xs-mb2.bold
      %h3.xs-text-center= 'Which ratings should be shown'
    .col.xs-col-12.xs-mb2.xs-text-center
      - if session[:hide_score_value] != 'HideR'
        = form_for :hide_score_session, url: public_hide_ratings_path, method: :post do |f|
          = f.hidden_field :score, value: 'HideR'
          %button{type:"submit", class:'button'} 
            = "Hide some ratings"
      - else
        = form_for :hide_score_session, url: public_hide_ratings_path, method: :post do |f|
          = f.hidden_field :score, value: 'ShowR'
          %button{type:"submit", class:'button'} 
            = "Show all ratings"
    .col.xs-col-12
      %ul
        %li= 'By chosing the "Hide some ratings" option, the games that are exclusive (they are the only ones happening at a given time) will have their ratings hidden.'
        %li= 'The "Show all ratings" option will... well... show the ratings for all matches.'
  .col.xs-col-4.xs-p3.xs-border-right.set-height
    .col.xs-col-12.xs-mb2.bold
      %h3.xs-text-center= 'Select your team'
    .col.xs-col-12.xs-mb2.xs-text-center
      - if session[:user_team] == '' || session[:user_team].nil?
        = form_for :pick_team_session, url: public_pick_team_path, method: :post do |f|
          = f.select :team, options_for_select([['ARI','ARI'],['ATL','ATL'],['BAL','BAL'],['BUF','BUF'],['CAR','CAR'],['CHI','CHI'],['CIN','CIN'], ['CLE','CLE'], ['DAL','DAL'], ['DEN','DEN'], ['DET','DET'], ['GB','GB'], ['HOU','HOU'], ['IND','IND'], ['JAX','JAX'], ['KC','KC'], ['LA','LA'], ['MIA','MIA'], ['MIN','MIN'], ['NE','NE'], ['NO','NO'], ['NYG','NYG'], ['NYJ','NYJ'], ['OAK','OAK'], ['PHI','PHI'], ['PIT','PIT'], ['SD','SD'], ['SEA','SEA'], ['SF','SF'], ['TB','TB'], ['TEN','TEN'],['WAS','WAS']]), {prompt: 'Pick a team'}, {class:"select"}
          %button{type:"submit", class:"button"} Choose
      - else
        .xs-col-12.xs-mb2.xs-text-center
          %h4= 'Your selected team is: '
          .logo-teams.logo-medium.xs-my2{class: "logo#{session[:user_team]}"}
          %h3= session[:user_team]
          
        .xs-text-center.xs-p1  
          = form_for :pick_team_session, url: public_pick_team_path, method: :post do |f|
            = f.hidden_field :team, value: ''
            %button{type:"submit", class:'button button--secondary xs-m05'} 
              = 'Pick another team'
    .col.xs-col-12
      %ul
        %li= 'Selecting a team will give it a small rating increase.'
        %li= 'If you don\'t select any option no team will receive a rating bonus.'
      
  .col.xs-col-4.xs-p3.xs-border-right
    .col.xs-col-12.xs-mb2.bold
      %h3.xs-text-center= 'Algorithm type'
    .col.xs-col-12.xs-mb2.xs-text-center
      - if session[:algo_choice] == 'FullAlgo'
        = form_for :algo_type_session, url: public_algorithm_choice_path, method: :post do |f|
          = f.hidden_field :algo, value: 'MatchAlgo'
          %button{type:"submit", class:'button'} 
            = "Match stats"
      - else
        = form_for :algo_type_session, url: public_algorithm_choice_path, method: :post do |f|
          = f.hidden_field :algo, value: 'FullAlgo'
          %button{type:"submit", class:'button'} 
            = "Full stats"
    .col.xs-col-12
      %ul
        %li= 'By chosing the "Full stats" option, the rating will take into consideration not only the match statistics, but also the teams loss/win record, if the game is a rivalry or not and if it is a divisional match.'
        %li= 'Choosing the "Match stats" option means that only the match stats will be used to create the rating. No championship statistics will be taken into consideration.'
      
/ - if cookies[:footer_value] == 'HideF'
/   .clearfix
/     .col.xs-col-3.xs-float-right.xs-p1.xs-border-left.xs-border-top.xs-fixed.xs-z1{style:'bottom:0; right: 0; height:70px; background: rgba(255, 255, 255, 0.8)'}
/       .col.xs-col-7
/         %p.xs-p2= 'Show footer again'
/       .col.xs-col-5.xs-text-center.xs-text-1.xs-p1
/         = form_for :footer_session, url: public_hide_footer_path, method: :post do |f|
/           = f.hidden_field :footer, value: 'ShowF'
/           %button{type:"submit", class:'button button--negative button--secondary button--small'} 
/             = "Show"
        
