.col.xs-col-9.xs-p2
  .col.xs-col-12.xs-text-center
    .flex.xs-flex-justify-center{style:'flex-wrap: wrap;'}
      - game_counter = 0
      - @stats.order(game_date: :asc,game_period: :asc,game_time: :asc).each do |game|
        .col.xs-col-2.xs-border.xs-m1.fill-white{style:'min-width: 130px;'}
          .col.xs-col-12.xs-border-bottom-lighter.xs-p1
            = game.game_date
            = surround '(', ')' do
              = game.game_time
          .col.xs-col-12.xs-border-bottom-lighter.xs-p1.xs-relative
            .col.xs-col-5
              .logo-teams.logo-tiny{class: "logo#{game.away_team_abrev}"}
              = game.away_team_abrev
              - if session[:value] != 'Hide'
                %br
                = surround '(', ')' do
                  = team_stats_week(game.away_team_abrev,week)
            .col.xs-col-2.xs-absolute.xs-mx-auto.xs-l0.xs-r0.xs-pt1{style:'width: 50px!important;font-size: 200%;color:rgba(0,0,0,0.7);'}
              %p= '@'
            .col.xs-col-5.xs-float-right
              .logo-teams.logo-tiny.logo-flip{class: "logo#{game.home_team_abrev}"}
              = game.home_team_abrev
              - if session[:value] != 'Hide'
                %br
                = surround '(', ')' do
                  = team_stats_week(game.home_team_abrev,week)
          .col.xs-col-12.xs-relative
            = score(game.game_date,game.game_time,game,game_counter,session[:algo_choice],session[:user_team],week)
            - game_counter += 1
   
%script
  $(document).ready(function(){
  for (let i = 0, len = 15; i < len; i ++) {
  $('.hid' + i).on('click', function() {
  $('.hid' + i).toggleClass('hidden-rating');
  $('.hidt' + i).toggle();
  })
  }
  })

