.col.xs-col-7.xs-p2
  %h3.xs-text-center
    Games:
  .col.xs-col-12.xs-text-center.xs-p2
    .flex.xs-flex-justify-center{style:'flex-wrap: wrap;'}
      - @games.each do |game|
        .col.xs-col-2.xs-border.xs-m1
          .col.xs-col-12.xs-border-bottom-lighter.xs-p1
            = game['game']['date']
            = surround '(', ')' do
              = game['game']['time']
          .col.xs-col-12.xs-border-bottom-lighter.xs-p1
            = game['game']['awayTeam']['Abbreviation']
            = 'X'
            = game['game']['homeTeam']['Abbreviation']
          .col.xs-col-12.xs-relative
            = grid_suggestion(game['game']['date'],game['awayScore'],game['homeScore'],game['game']['time'])
          /- if (game['awayScore'].to_i - game['homeScore'].to_i).abs < 6
          /  = 'YES!!'
          /- else
          /  = 'No'   
%script
  $('#hiddenScore').on('click', function() {
  $('#hiddenScore').toggleClass('hidden-rating');
  $('#hiddenText').toggle();
  })
