.col.xs-col-7.xs-p2
  %h3.xs-text-center
    Games:
  .col.xs-col-12.xs-text-center.xs-p2
    .flex.xs-flex-justify-center{style:'flex-wrap: wrap;'}
      - game_counter = 0
      - @stats.order(game_date: :asc,game_time: :asc).each do |game|
        .col.xs-col-3.xs-border.xs-m1
          .col.xs-col-12.xs-border-bottom-lighter.xs-p1
            = game.game_date
            = surround '(', ')' do
              = game.game_time
          .col.xs-col-12.xs-border-bottom-lighter.xs-p1
            .col.xs-col-5.xs
              = game.away_team_abrev
              %br
              = surround '(', ')' do
                = team_stats_week(game.away_team_abrev,week)
            .col.xs-col-2.xs
              = 'X'
            .col.xs-col-5.xs
              = game.home_team_abrev
              %br
              = surround '(', ')' do
                = team_stats_week(game.home_team_abrev,week)
          .col.xs-col-12.xs-relative
            = score(game.game_date,game.game_time,game,game_counter)
            - game_counter += 1
   
%script
  / $('.hidden-score').on('click', function() {
  / $('.hidden-score').toggleClass('hidden-rating');
  / $('.hidden-text').toggle();
  / })
  $('.hid0').on('click', function() {
  $('.hid0').toggleClass('hidden-rating');
  $('.hidt0').toggle();
  })
  $('.hid12').on('click', function() {
  $('.hid12').toggleClass('hidden-rating');
  $('.hidt12').toggle();
  })
  $('.hid13').on('click', function() {
  $('.hid13').toggleClass('hidden-rating');
  $('.hidt13').toggle();
  })
  $('.hid14').on('click', function() {
  $('.hid14').toggleClass('hidden-rating');
  $('.hidt14').toggle();
  })
  $('.hid15').on('click', function() {
  $('.hid15').toggleClass('hidden-rating');
  $('.hidt15').toggle();
  })
