.col.xs-col-3.xs-p2
  / %h4.xs-text-center
  /   Select one of the weeks:
  .col.xs-col-12.xs-text-center
    .flex.xs-flex-justify-center{style:'flex-wrap: wrap;'}
      - week = 1
      - day = DateTime.new(2016, 9, 8)
      - while week < 18 
        .col.xs-col-4{style:'min-width: 70px;'}
          - if week == params[:number].to_i
            - this_week = 'button--negative'
          - else
            - this_week = 'button--white'
          = link_to "#{week}" do
            = content_tag :span, "", class: "button button--secondary button--small xs-p1 xs-m1 #{this_week}" do
              %p{class: "xs-text-2 xs-inline"}= "W"
              %p{class: "xs-text-1 xs-inline bold"}= "#{week}"
              %p{class: "xs-block xs-pt05"}=  "#{day.strftime("%b %d")}<br />#{(day + 4).strftime("%b %d")}".html_safe    
          - week += 1
          - day += 7