= link_to "Home", admin_root_path, class:'button xs-m2 button--tumblr button--small'
= link_to "Stats", admin_stats_path, class:'button xs-m2 button--tumblr button--small'
= link_to "Games", admin_games_path, class:'button xs-m2 button--tumblr button--small'
= link_to "Full", admin_full_path, class:'button xs-m2 button--tumblr button--small'
= link_to "Table", admin_table_path, class:'button xs-m2 button--tumblr button--small'
= link_to "Lead", admin_lead_path, class:'button xs-m2 button--tumblr button--small'
= link_to "Params", admin_allparams_path, class:'button xs-m2 button--tumblr button--small'